.button-color {
  background-color: rgb(252, 247, 247);
  color: black;
  border: 1px solid gray;
}

.custom-input-boderColor {
  border: 1px solid gray;
}

.custom-bg-1 {
  background: rgb(251, 141, 141);
}

.custom-bg-2 {
  background: rgb(237, 249, 160);
}
